body{
    text-align:center;
 background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);

}

.btn{
    height:200px;
    width:200px;
    border:solid 2px black;
    border-radius:15%;
    margin:1.5rem;
}

.btn-container{
    display: flex;
    justify-content:center;
}

.btn1{
    background-color: rgb(237, 164, 70);
}

.btn2{
    background-color: rgb(160, 52, 167);
}

.btn3{
    background-color:rgb(106, 72, 30)
}

.btn4{
   background-color:rgb(38, 100, 100)
}

.flash{
    background-color: white;
    animation:ease-in 1s;
}
.high {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
}